@charset "utf-8";
	@import url(https://fonts.googleapis.com/css?family=Ubuntu);
	@font-face {
		font-family: 'Noto Sans Thin';
		font-style: normal;
		font-weight: 100;
		src: local('Noto Sans Thin'), local('NotoSans-Thin'),
		url(/fonts/eot/NotoSansKR-Thin-Hestia.eot),
		url(/fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
		url(/fonts/woff/NotoSansKR-Thin-Hestia.woff) format('woff'),
		url(/fonts/otf/NotoSansKR-Thin-Hestia.otf) format('opentype');
	}

	@font-face {
		font-family: 'Noto Sans Light';
		font-style: normal;
		font-weight: 300;
		src: local('Noto Sans Light'), local('NotoSans-Light'),
		url(/fonts/eot/NotoSansKR-Light-Hestia.eot),
		url(/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
		url(/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
		url(/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
	}

	@font-face {
		font-family: 'Noto Sans DemiLight';
		font-style: normal;
		font-weight: 400;
		src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
		url(/fonts/eot/NotoSansKR-DemiLight-Hestia.eot),
		url(/fonts/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
		url(/fonts/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
		url(/fonts/otf/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
	}

	@font-face {
		font-family: 'Noto Sans Regular';
		font-style: normal;
		font-weight: 400;
		src: local('Noto Sans Regular'), local('NotoSans-Regular'),
		url(/fonts/eot/NotoSansKR-Regular-Hestia.eot),
		url(/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
		url(/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
		url(/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
	}

	@font-face {
		font-family: 'Noto Sans Medium';
		font-style: normal;
		font-weight: 500;
		src: local('Noto Sans Medium'), local('NotoSans-Medium'),
		url(/fonts/eot/NotoSansKR-Medium-Hestia.eot),
		url(/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
		url(/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
		url(/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
	}

	@font-face {
		font-family: 'Noto Sans Bold';
		font-style: normal;
		font-weight: 700;
		src: local('Noto Sans Bold'), local('NotoSans-Bold'),
		url(/fonts/eot/NotoSansKR-Bold-Hestia.eot),
		url(/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
		url(/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
		url(/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
	}

	@font-face {
		font-family: 'Noto Sans Black';
		font-style: normal;
		font-weight: 900;
		src: local('Noto Sans Black'), local('NotoSans-Black'),
		url(/fonts/eot/NotoSansKR-Black-Hestia.eot),
		url(/fonts/eot/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
		url(/fonts/woff/NotoSansKR-Black-Hestia.woff) format('woff'),
		url(/fonts/otf/NotoSansKR-Black-Hestia.otf) format('opentype');
	}

	@font-face {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: normal;
		src:local('Ubuntu'), local('Ubuntu Regular'), local('Ubuntu-Regular'),
			url(/fonts/eot/Ubuntu-Regular-Webfont.eot),
			url(/fonts/eot/Ubuntu-Regular-Webfont.eot?#iefix) format('embedded-opentype'),
			url(/fonts/woff/Ubuntu-Regular-Webfont.woff) format('woff'),
			url(/fonts/otf/Ubuntu-Regular-Webfont.otf) format('opentype');
	}


	@font-face {
		font-family: 'Ubuntu Light';
		font-style: normal;
		font-weight: normal;
		src: local('Ubuntu Light'), local('Ubuntu-Light'),
			url(/fonts/eot/Ubuntu-Light-Webfont.eot),
			url(/fonts/eot/Ubuntu-Light-Webfont.eot?#iefix) format('embedded-opentype'),
			url(/fonts/woff/Ubuntu-Light-Webfont.woff) format('woff'),
			url(/fonts/otf/Ubuntu-Light-Webfont.otf) format('opentype');
	}

	@font-face {
		font-family: 'Ubuntu Regular';
		font-style: normal;
		font-weight: normal;
		src:local('Ubuntu'), local('Ubuntu Regular'), local('Ubuntu-Regular'),
			url(/fonts/eot/Ubuntu-Regular-Webfont.eot),
			url(/fonts/eot/Ubuntu-Regular-Webfont.eot?#iefix) format('embedded-opentype'),
			url(/fonts/woff/Ubuntu-Regular-Webfont.woff) format('woff'),
			url(/fonts/otf/Ubuntu-Regular-Webfont.otf) format('opentype');
	}

	@font-face {
		font-family: 'Ubuntu Medium';
		font-style: normal;
		font-weight: normal;
		src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
			url(/fonts/eot/Ubuntu-Medium-Webfont.eot),
			url(/fonts/eot/Ubuntu-Medium-Webfont.eot?#iefix) format('embedded-opentype'),
			url(/fonts/woff/Ubuntu-Medium-Webfont.woff) format('woff'),
			url(/fonts/otf/Ubuntu-Medium-Webfont.otf) format('opentype');
	}

	@font-face {
		font-family: 'Ubuntu Bold';
		font-style: normal;
		font-weight: normal;
		src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
			url(/fonts/eot/Ubuntu-Bold-Webfont.eot),
			url(/fonts/eot/Ubuntu-Bold-Webfont.eot?#iefix) format('embedded-opentype'),
			url(/fonts/woff/Ubuntu-Bold-Webfont.woff) format('woff'),
			url(/fonts/otf/Ubuntu-Bold-Webfont.otf) format('opentype');
	}

	body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, div, span, strong, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button, figure, figcaption{font-family: 'Noto Sans DemiLight', sans-serif;}

	#global p,#global h1,#global h2,#global h3,#global h4,#global h5,#global h6,#global ul,#global ol,#global li,#global dl,#global dt,#global dd,
	#global div,#global span,#global strong,#global table,#global thead,#global tbody,#global tr,#global th,#global td,#global form,#global fieldset,
	#global legend,#global input,#global textarea,#global button,#global a,#global em,#global i{font-family: 'Ubuntu Regular', sans-serif;}

	.ubuntu_0{font-family: 'Ubuntu', 'Noto Sans DemiLight', sans-serif !important;font-weight:100;}
	.ubuntu_600{font-family: 'Ubuntu', 'Noto Sans DemiLight', sans-serif !important;font-weight:600;}
	.ubuntu_l{font-family:'Ubuntu Light', sans-serif;}
	.ubuntu_r{font-family:'Ubuntu Regular', sans-serif;}
	.ubuntu_m{font-family:'Ubuntu Medium', sans-serif;}
	.ubuntu_b{font-family:'Ubuntu bold', sans-serif;}

	.kr{font-family: 'Noto Sans DemiLight';}
	.eng{font-family: 'Ubuntu', sans-serif;}


